/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#notice {
    color: green;
}

.text-light {
    color: #f8f9fa !important;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.navbar-dark .navbar-brand {
    color: #fff;
}

.field_margin {
  margin-bottom: 10px;
}
div .field, div .actions {
  margin-bottom: 10px;
}


.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-sm, .btn-group-sm>.btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

#error_explanation {
    color: red;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}
.btn-block {
    display: block;
    width: 100%;
}

table {
    border-collapse: collapse;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}